@model TestProyect.Models.Componentes

@{
    ViewData["Title"] = "ComponenteCreate";
    Layout = "~/Views/Shared/_MenuPartial.cshtml";
}
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button type="button" class="navbar-toggler sidemenu-toggler mb-4">
                <span class="line top"></span>
                <span class="line middle"></span>
                <span class="line bottom"></span>
            </button>
            <a href="#" class="navbar-brand">Navbar</a>

            <button type="button" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                            <img src="https://assets.metrolatam.com/cl/2015/11/09/captura-de-pantalla-2015-11-09-a-las-09-20-49-1-1200x800.jpg" alt="logo" style="width:40px;"> [Poner Nombre del usuario aquí]
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">Perfil</a>
                            <a asp-controller="Entrenador" asp-action="Configuracion" class="dropdown-item">Configuración</a>
                            <hr>
                            <a href="#" class="dropdown-item">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body class="fondoEntrenador">
    <hr style="margin-top:10%">
    <div class="card border">
        <div class="card-header">
            <a class="link-bar" asp-action="Index">Inicio/</a>
            <a class="link-bar" asp-action="Configuracion">Configuración/</a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="card border">
                <div class="card-header">
                    <h3><strong>Añadir Componente</strong></h3>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="ComponenteCreate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="EntrenadorCompId" value="2" class="form-control" />
                            <div class="form-group">
                                <label asp-for="NombreComponente" class="control-label"></label>
                                <input asp-for="NombreComponente" class="form-control" />
                                <span asp-validation-for="NombreComponente" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
