@model TestProyect.Models.Equipos
@{
    ViewData["Title"] = "EquipoCreate";
    Layout = "~/Views/Shared/_MenuPartial.cshtml";
}

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button type="button" class="navbar-toggler sidemenu-toggler mb-4">
                <span class="line top"></span>
                <span class="line middle"></span>
                <span class="line bottom"></span>
            </button>
            <a href="#" class="navbar-brand">
                <img class="logotipo" src="~/img/LogoSPEJAR.png" height="40" width="200" />
            </a>

            <button type="button" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                            <img src="https://assets.metrolatam.com/cl/2015/11/09/captura-de-pantalla-2015-11-09-a-las-09-20-49-1-1200x800.jpg" alt="logo" style="width:40px;"> [Poner Nombre del usuario aquí]
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">Perfil</a>
                            <a asp-controller="Entrenador" asp-action="Configuracion" class="dropdown-item">Configuración</a>
                            <hr>
                            <a href="#" class="dropdown-item">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body class="fondoEntrenador">
    <hr style="margin-top:10%">
    <div class="card border">
        <div class="card-header">
            <a class="link-bar" asp-action="Index">Inicio/</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="">
                <div class="card-body">
                    <h4 class="card-title">Componentes</h4>
                    <p class="card-text"></p>
                    <br>
                    <a asp-controller="Entrenador" asp-action="Componente" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}

