@{
    ViewData["Title"] = "SubcomponenteCreate";
    Layout = "~/Views/Shared/_MenuPartial.cshtml";
}

<h1>SubcomponenteCreate</h1>


<select class="form-control" asp-items="ViewBag.ComponenteId"></select>