@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

<body class="fondoPrincipal"></body>

<body class="hidden">


        
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <img src="~/img/jugador.png" />
                    </a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
 

        <div class="social">
            <ul>
                <li>
                    <div id="page-content-wrapper">
                        <div class="container-fluid">
                            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    </body>


