@{
    ViewData["Title"] = "Sistema de Planeación y Estadística de Jugadores de Alto Rendimiento";

}

<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/AleatorioPrincipal.js"></script>
</head>

<body class="fondoPrincipal" >

    <div class="row">                
        <div class="col-md-4 login center-block">
            <div class="card-body card-inicio">
                <img class="logotipo" src="~/img/LogoSPEJAR.png" />
                <h3 class="titulo">Sistema de Planeación y Estadística de Jugadores de Alto Rendimiento</h3>
                <form action="">
                    <div class="form-group">
                        <label class="labelPrincipal">* Usuario</label>
                        <input type="email" class="form-control" placeholder="* Usuario">
                    </div>
                    <div class="form-group">
                        <label class="labelPrincipal">Contraseña:</label>
                        <input type="password" class="form-control" placeholder="* Contraseña" id="pwd">
                    </div>
                    <button type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Administrativo" asp-action="Index">Iniciar Sesión</button>
                    <button type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Entrenador" asp-action="Index">Entrenadores (Provicional)</button>
                    <button type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Jugador" asp-action="Index">Jugadores (Provicional)</button>
                    <button type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Utilero" asp-action="Index">Utileros (Provicional)</button>
                    <button type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Tutor" asp-action="Index">Tutores (Provicional)</button>
                </form>
                <hr>
                <div class="recuperar_contrasena">
                    <a class="enlace" asp-action="PasswordReset">Recuperar Contraseña</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>