@{
    ViewData["Title"] = "Sistema de Planeación y Estadística de Jugadores de Alto Rendimiento";

}
@model Administrativos

<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/AleatorioPrincipal.js"></script>
</head>

<body class="fondoPrincipal" >

    <div class="row">                
        <div class="col-md-4 login center-block">
            <div class="card-body card-inicio">
                <img class="logotipo" src="~/img/LogoSPEJAR.png" />
                <h3 class="titulo">Sistema de Planeación y Estadística de Jugadores de Alto Rendimiento</h3>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="EmailAdministrativo" class="labelPrincipal">* Usuario</label>
                        <input id="userInput" type="email" name="email" asp-for="EmailAdministrativo" class="form-control" placeholder="* Usuario">
                        <span asp-validation-for="EmailAdministrativo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordAdministrativo" class="labelPrincipal">Contraseña:</label>
                        <input id="passInput" type="password" name="password" asp-for="PasswordAdministrativo" class="form-control" placeholder="* Contraseña" id="pwd">
                        <span asp-validation-for="PasswordAdministrativo" class="text-danger"></span>
                    </div>
                    @if (TempData["mensaje"] == "1" )
                    {
                        <div class="alert alert-danger">
                            <a href="#" class="alert-link">Usuario/Contraseña Incorrectos</a>
                        </div>
                    }else if (TempData["mensaje"] == "2")
                    {
                        <div class="alert alert-danger">
                            <a href="#" class="alert-link">Su Cuenta No esta Validada</a>
                        </div>
                    }else if(TempData["mensaje"] == "3")
                    {
                          <div class="alert alert-danger">
                            <a href="#" class="alert-link">Su Cuenta No esta Activa</a>
                        </div>

                    }

                    <button id="btnLoginAdmin" type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Administrativo" asp-action="Login">Iniciar Sesión Administradores</button>
                    <button id="btnLoginEntrenador" type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Entrenador" asp-action="Login">Entrenadores (Provicional)</button>
                    <button id="btnLoginJugador" type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Jugador" asp-action="Login">Jugadores (Provicional)</button>
                    <button id="btnLoginUtilero" type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Utilero" asp-action="Login">Utileros (Provicional)</button>
                    <!-- <button type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Utilero" asp-action="Login">Utileros (Provicional)</button>
    <button type="submit" class="btn iniciar btn-lg btn-block" asp-area="" asp-controller="Tutor" asp-action="Login">Tutores (Provicional)</button> -->
                    <hr>
                </form>
                <hr>
                <div class="recuperar_contrasena">
                    <a class="enlace" asp-action="PasswordReset">Recuperar Contraseña</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#userInput').focus();

        $('#btnLoginAdmin').on('click', function (e) {
            if ($('#userInput').val() != "" && $('#passInput').val() != "") {
                Validate($('#userInput').val(), $('#passInput'),'Administrativos');
            }
        });

        $('#btnLoginEntrenador').on('click', function (e) {
            if ($('#userInput').val() != "" && $('#passInput').val() != "") {
                Validate($('#userInput').val(), $('#passInput'), 'Entrenadores');
            }
        });

        $('#btnLoginJugador').on('click', function (e) {
            if ($('#userInput').val() != "" && $('#passInput').val() != "") {
                Validate($('#userInput').val(), $('#passInput'), 'Jugador');
            }
        });

        function Validate(usuario, clave, controller) {
            var record = {
                EmailUsuario: usuario,
                Clave: clave
            };

            $.ajax({
                url: controller + '/Login',
                async: false,
                type: 'POST',
                data: record,
                beforeSend: function (xhr, options) {},
                complete: function () {},
                success: function (data) {
                    if (data.status == true) {
                        sessionStorage.setItem("userlog", usuario);
                        console.log("LLEFGA AQUI")
                    }
                    else if (data.status == false) {
                        alert("Error: ", data.message);
                    }
                },
                error: function (data) {
                    alert("Error: ", data.message);
                }
            });
        };

    });

</script>
