@{
    ViewData["Title"] = "Recuperar Contraseña";

}

<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="fondoPasswordReset">
    <div class="container">
<!--        <form action="" class="form-register">
            <h3 class="form-titulo">Recuperar Contraseña</h3>
            <div class="contenedor-inputs">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nombre">Ingrese Número de Empleado o Matrícula </label>
                        <input class="form-control" type="text" placeholder="* Número Empleado / Matrícula" required>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-dark">Recuperar <i class="fas fa-key"></i></button>
                </div>
                <hr class="linea">
                <div class="col-md-12 text-center">
                    <div class="registrado">
                        <a class="enlace" asp-action="">¿Ya cuenta con su Contraseña?</a>
                    </div>
                </div>

            </div>
        </form>
        <hr> -->
        <form method="post" class="form-register">
            <h3 class="form-titulo">Recuperar Contraseña</h3>
            <div class="contenedor-inputs">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Ingrese Correo Electrónico </label>
                        <input id="email" class="form-control" name="email" type="email" placeholder="* Ingrese Correo Electrónico" required>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" asp-action="Recuperar" class="btn btn-dark">Recuperar <i class="fas fa-key"></i></button>
                </div>
                <hr class="linea">
                <div class="col-md-12 text-center">
                    <div class="registrado">
                        <a class="enlace" asp-action="">¿Ya cuenta con su Contraseña?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>