@model TestProyect.Models.Adscripcion

@{
    ViewData["Title"] = "AdscripcionCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<body class="fondoAdministracion">
    <div class="row">
        <div class="col-md-12">
            <div class="card border">
                <div class="card-header">
                    <h3><strong>Añadir Adscripción</strong></h3>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AdscripcionCreate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NombreAdscripcion" class="control-label"></label>
                                <input asp-for="NombreAdscripcion" class="form-control" />
                                <span asp-validation-for="NombreAdscripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EstatusId" class="control-label"></label>
                                <select asp-for="EstatusId" class="form-control" asp-items="ViewBag.EstatusId"></select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success float-md-right"><i class="fas fa-check-circle"> Guardar</i></button>
                                <a asp-action="Adscripcion" class="btn btn-danger float-md-left"><i class="fas fa-arrow-circle-left"> Regresar</i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}