@model TestProyect.Models.Estatus

@{
    ViewData["Title"] = "EstatusCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<body class="fondoAdministracion">
    <hr />
    <div class="card border">
        <div class="card-header">
            <a class="link-bar" asp-controller="Administrativo" asp-action="Index">Administrativo/</a>
            <a class="link-bar" asp-controller="Catalogos" asp-action="Index">Catálogos/</a>
            <a class="link-bar" asp-controller="Catalogos" asp-action="Estatus">Estatus/</a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-12">
            <div class="card border">
                <div class="card-header">
                    <h3><strong>Detalle Estatus</strong></h3>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Nombre del Estatus: </strong>@Html.DisplayFor(m => m.NombreEstatus)</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}