<body class="fondoAdministracion">

    <div class="row carusel">
        <div class="col-md-3">
            <div class="card" style="">
                <div class="card-body">
                    <h4 class="card-title">Adscripciones</h4>
                    <p class="card-text"></p>
                    <br>
                    <a asp-controller="Catalogos" asp-action="Adscripcion" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="">
                <div class="card-body">
                    <h4 class="card-title">Estatus</h4>
                    <p class="card-text"></p>
                    <br>
                    <a asp-controller="Catalogos" asp-action="Estatus" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row carusel">

    </div>


</body>
