
:root {
    --grisF: #343A40;
    --grisC: #595959;
    --naranja: #EA7B1F;
    --primaryTeam: #9c1737;
    --secondaryTeam: #325082;
    --tertiaryTeam: #EBE52D;
    /*Para asignar un color de variable es: var(--grisF);*/
}

/* ----------------- */
/* ----------------- */
.fondoEntrenador {
    background-image: url(../img/fondoEntrenador.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    /*overflow: hidden;*/
}
/* ----------------- */

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 5px;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    width: 150px;
}

.cards {
    background-color: var(--grisF);
    color: white;
    border-color: var(--naranja) !important;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: var(--naranja);
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}


.mensajeJugadores{
    margin-top:20%;
    margin-right: 20%
}