/* Colores Oficiales */

:root {
    --grisF: #343A40;
    --grisC: #595959;
    --naranja: #EA7B1F;
    /*Para asignar un color de variable es: var(--grisF);*/
}

/* ----------------- */

/* Preload */
.hidden{
    overflow: hidden;
}
.centradoLoad {
    height: 100vh;
    background: url(../img/Loader.gif) no-repeat center center;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- */


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    background-color: var(--grisF);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}

/* Barra Nav*/

.navbar-gray {
    background-color: var(--grisF);
}
.Logo {
    
    height: 40px;
    
}
/*----------*/


/* Estilos de la Página Principal */
.fondoPrincipal {
    /*background-image: url(../img/fondo.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    overflow: hidden;
}
.carusel {
margin-top: 10%;

}
.titulo{
    text-align:center;
    color:white;
}
.col-md-4 .login {
    top: 30%;
    color: white;
}

.recuperar_contrasena {
    line-height:200%;
    text-align: right;
}

.enlace {
    color: var(--naranja);
    font-weight: bold;
}

.enlace:hover{
color: white;
font-weight: bold;
}

.iniciar {
    background-color: var(--naranja);
    font-weight: bold;
    color: white;
}

.iniciar:hover {
    color: var(--grisF);
    font-weight: bold;
    color: var(--grisC);
}


.banner {
    display: block;
    margin: auto;
    width: 600px;
    height: auto;
    vertical-align: middle;
}

.labelPrincipal{
    color:white;
}

.btn-dark:hover {
    background-color: var(--naranja);
    color: white;
}

.jugador {
    -webkit-text-stroke: 1px var(--grisF);
    color: white;
}

.logotipo {
    display: block;
    margin: auto;
    width: 70%;
}

.card-inicio {
    margin-top: 15%;
    background-color: var(--grisF) !important;
}
/* ------------------------------ */

/* Estilos de la Página PasswordReset */

.fondoPasswordReset {
    background-image: url(../img/fondoPasswordReset.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    overflow: hidden;
}

.form-register {
    top: 50%;
    width: 85%;
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 40px 10px;
   
}

.form-titulo {
    background: var(--grisC);
    color: #fff;
    padding: 20px;
    font-weight: 100;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid var(--naranja);
}

.contenedor-inputs {
    padding: 2px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registrado {
    line-height: 200%;
    text-align: center;
}

hr .linea {
    border-top: 1px dotted red;
}

/* ---------------------------------- */

/* Estilos de la Página Administracion */

.fondoAdministracion {
    background-image: url(../img/fondoAdministracion.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    overflow: hidden;
    
}

.card{
    background-color: var(--grisF);
    color: white;
}

.btn-orange{
    background-color: var(--naranja) !important;
    display: flex;
    justify-content:center;
    color: white;
}

/* ----------------------------------- */

.card-special {
    background-color: white !important;
}


/* -------------Titulos---------------------- */

.fondoTitulo{
    background-color: var(--grisC);
    color: white;

}
.card-img-top{
    background-color: white;
}

.bg-transparent{
    margin-top: 10%;
}
/* -------------Sidebar----------------------------- */
.bg-primary {
    background-color: var(--grisF) !important;
}

#sidebar-container {
    min-height: 100vh;
}

    #sidebar-container .logo {
        padding: 0.875rem 1.25rem;
    }

    #sidebar-container .menu {
        width: 18rem;
    }

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}


@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }

    .stat {
        border: 0;
    }
}

.activo{
    background-color:var(--naranja);
    color: white !important;
}

/* ----------------------------------- */
.card-body-perfil {
    background-color: white !important;
    border-radius: 50px;
    width: 180px;
    height: 150px;
    background: blue;
    margin: auto;
}
.card-footer{
    background-color: var(--naranja);
}
.card-header{
    background-color: var(--naranja);
    font-weight: bold;
    text-align: center;
}


