/* Colores Oficiales */

:root {
    --grisF: #343A40;
    --grisC: #595959;
    --naranja: #EA7B1F;
    --primaryTeam: #9c1737;
    --secondaryTeam: #325082;
    --tertiaryTeam: #EBE52D;
    /*Para asignar un color de variable es: var(--grisF);*/
}

/* ----------------- */

/* Preload */
.hidden{
    overflow: hidden;
}
.centradoLoad {
    height: 100vh;
    background: url(../img/Loader.gif) no-repeat center center;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- */

/*Iconos CRUD*/

.fa-user-edit{
    color: white;
}
.fa-user-edit:hover {
    color: var(--naranja);  
}  


.fa-info-circle{
    color: white;
}
    .fa-info-circle:hover {
        color: var(--naranja);
    }

.fa-user-minus{
    color: white;
}
    .fa-user-minus:hover {
        color: var(--naranja);
    }

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    background-color: var(--grisF);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}

/* Barra Nav*/

.navbar-gray {
    background-color: var(--grisF);
}
.Logo {
    
    height: 40px;
    
}
/*----------*/


/* Estilos de la Página Principal */
.fondoPrincipal {
    /*background-image: url(../img/fondo.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    overflow: hidden;
}
.carusel {
margin-top: 10%;

}
.titulo{
    text-align:center;
    color:white;
}
.col-md-4 .login {
    top: 30%;
    color: white;
}

.recuperar_contrasena {
    line-height:200%;
    text-align: right;
}

.enlace {
    color: var(--naranja);
    font-weight: bold;
}

.enlace:hover{
color: white;
font-weight: bold;
}

.iniciar {
    background-color: var(--naranja);
    font-weight: bold;
    color: white;
}

.iniciar:hover {
    color: var(--grisF);
    font-weight: bold;
    color: var(--grisC);
}


.banner {
    display: block;
    margin: auto;
    width: 600px;
    height: auto;
    vertical-align: middle;
}

.labelPrincipal{
    color:white;
}

.btn-dark:hover {
    background-color: var(--naranja);
    color: white;
}

.jugador {
    -webkit-text-stroke: 1px var(--grisF);
    color: white;
}

.logotipo {
    display: block;
    margin: auto;
    width: 70%;
}

.card-inicio {
    margin-top: 15%;
    background-color: var(--grisF) !important;
}
/* ------------------------------ */

/* Estilos de la Página PasswordReset */

.fondoPasswordReset {
    background-image: url(../img/fondoPasswordReset.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    overflow: hidden;
}

.form-register {
    top: 50%;
    width: 85%;
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 40px 10px;
   
}

.form-titulo {
    background: var(--grisC);
    color: #fff;
    padding: 20px;
    font-weight: 100;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid var(--naranja);
}

.contenedor-inputs {
    padding: 2px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registrado {
    line-height: 200%;
    text-align: center;
}

hr .linea {
    border-top: 1px dotted red;
}

/* ---------------------------------- */

/* Estilos de la Página Administracion */

.fondoAdministracion {
    background-image: url(../img/fondoAdministracion.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    /*overflow: hidden;*/
}

.card{
    background-color: var(--grisF);
    color: white;
    border-color: var(--naranja) !important;
}

.btn-orange{
    background-color: var(--naranja) !important;
    display: flex;
    justify-content:center;
    color: white;
}
.link-bar{
    color:white;
}
.link-bar:hover {
    color: var(--naranja);
}
/* ----------------------------------- */
.card-special {
    background-color: white !important;
}

/** Estilos campo de Futbol */


.fieldBox{
    border: 2px solid black;
}

.field {
    top: 10vh;
    left: 35vw;
    width: 70vw;
    height: 65vh;
    background: url(https://thumbs.dreamstime.com/b/vista-superior-del-campo-de-f%C3%BAtbol-84246649.jpg);
    border: 1px solid black;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
}


.player {
    position: absolute;
}

.player__item {
    width: 3%;
    height: 6%;
    background: repeating-linear-gradient(90deg, var(--primaryTeam),var(--primaryTeam) 10%, var(--secondaryTeam) 10%, var(--secondaryTeam) 20%);
    border-radius: 50%;
    box-shadow: 0 0 30px #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.player__item--shirt {
    bottom: 25%;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    color: var(--tertiaryTeam);
}

.player__item--label {
    font-size: 0.7em;
    top: 75%;
    position: absolute;
    background-color: var(--tertiaryTeam);
    color: var(--primaryTeam);
    border-radius: 10%;
    padding: 5%;
}

.player__item--card {
    position: absolute;
    top: -250%;
    background-color: var(--primaryTeam);
    /*/opacity: 0
      //width: auto
      //padding: 10%*/
    font-size: 0.7em;
    color: var(--secondaryTeam);
    border-radius: 3%;
    box-shadow: 0 0 30px #000000;
    z-index: 2;
    /*overflow: hidden*/
    display: none;
    /*justify-content: center*/
    flex-flow: column;
}

    .player__item--card::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-top: 10px solid var(--secondaryTeam);
        border-right: 10px solid transparent;
    }


    .player__item--card::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40%;
        background-color: var(--secondaryTeam);
        z-index: -1;
    }

.player__item--card--name {
    color: var(--primaryTeam);
    font-weight:800;
}

.player__item--card--photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.player__item--card--photo-bg {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
}

.player__item--card--info {
    display: flex;
    margin: 4px;
    font-weight:700
}

.player__item--card--info--column {
    display: table;
    padding: 0.3%;
}

.player__item--card--info--item {
    text-align: center;
}

.player__item--gk {
    bottom: 1%;
    left: 45%;
}

.player__item--two {
    bottom: 25%;
    right: 5%;
}

.player__item--three {
    bottom: 15%;
    right: 25%;
}

.player__item--four {
    bottom: 15%;
    left: 25%;
}

.player__item--five {
    bottom: 42%;
    right: 30%;
}

.player__item--six {
    bottom: 25%;
    left: 5%;
}

.player__item--seven {
    bottom: 42%;
    left: 30%;
}

.player__item--eight {
    top: 30%;
    left: 45%;
}

.player__item--nine {
    top: 15%;
    right: 65%;
}

.player__item--ten {
    top: 15%;
    left: 65%;
}

.player__item--eleven {
    top: 50%;
    left: 70%;
}