/* Tipo de Letra Oficial*/


/* ----------------- */

/* Colores Oficiales */

:root {
    --grisF: #343A40;
    --grisC: #595959;
    --naranja: #EA7B1F;
    --primaryTeam: #9c1737;
    --secondaryTeam: #325082;
    --tertiaryTeam: #EBE52D;
    /*Para asignar un color de variable es: var(--grisF);*/
}

/* ----------------- */

/* Preload */
.hidden {
    overflow: hidden;
}

.centradoLoad {
    height: 100vh;
    background: url(../img/Loader.gif) no-repeat center center;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- */

/*Iconos CRUD*/

.fa-user-edit {
    color: white;
}

    .fa-user-edit:hover {
        color: var(--naranja);
    }


.fa-info-circle {
    color: white;
}

    .fa-info-circle:hover {
        color: var(--naranja);
    }

.fa-user-minus {
    color: white;
}

    .fa-user-minus:hover {
        color: var(--naranja);
    }

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

li {
    list-style: none;
}

.footer {
    background-color: var(--grisF);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}

/* Barra Nav*/

.navbar-gray {
    background-color: var(--grisF);
}

.Logo {
    height: 40px;
}
/*----------*/


/* Estilos de la Página Principal */
.fondoPrincipal {
    /*background-image: url(../img/fondo.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    overflow: hidden;
}

.carusel {
    margin-top: 10%;
}

.titulo {
    text-align: center;
    color: white;
}

.col-md-4 .login {
    top: 30%;
    color: white;
}

.recuperar_contrasena {
    line-height: 200%;
    text-align: right;
}

.enlace {
    color: var(--naranja);
    font-weight: bold;
}

    .enlace:hover {
        color: white;
        font-weight: bold;
    }

.iniciar {
    background-color: var(--naranja);
    font-weight: bold;
    color: white;
}

    .iniciar:hover {
        color: var(--grisF);
        font-weight: bold;
        color: var(--grisC);
    }


.banner {
    display: block;
    margin: auto;
    width: 600px;
    height: auto;
    vertical-align: middle;
}

.labelPrincipal {
    color: white;
}

.btn-dark:hover {
    background-color: var(--naranja);
    color: white;
}

.jugador {
    -webkit-text-stroke: 1px var(--grisF);
    color: white;
}

.logotipo {
    display: block;
    margin: auto;
    width: 70%;
}

.card-inicio {
    margin-top: 15%;
    background-color: var(--grisF) !important;
}
/* ------------------------------ */

/* Estilos de la Página PasswordReset */

.fondoPasswordReset {
    background-image: url(../img/fondoPasswordReset.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    overflow: hidden;
}

.form-register {
    top: 50%;
    width: 85%;
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 40px 10px;
}

.form-titulo {
    background: var(--grisC);
    color: #fff;
    padding: 20px;
    font-weight: 100;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid var(--naranja);
}

.contenedor-inputs {
    padding: 2px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registrado {
    line-height: 200%;
    text-align: center;
}

hr .linea {
    border-top: 1px dotted red;
}

/* ---------------------------------- */

/* Estilos de la Página Administracion */

.fondoAdministracion {
    background-image: url(../img/fondoAdministracion.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    /*overflow: hidden;*/
}

.card {
    background-color: var(--grisF);
    color: white;
    border-color: var(--naranja) !important;
}

.btn-orange {
    background-color: var(--naranja) !important;
    display: flex;
    justify-content: center;
    color: white;
}

.link-bar {
    color: white;
}

    .link-bar:hover {
        color: var(--naranja);
    }
/* ----------------------------------- */
.card-special {
    background-color: white !important;
}

/** Estilos campo de Futbol */

.contenedor {
    /*border: 1px solid black;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100vh;
}

.banca {
    width: 30%;
    /*border: 1px solid green;*/
}

.tituloTexto {
    color: white;
    font-size: 40px;
}

/*.field {
    border: 1px solid red;
    width: 80%;
    height: 90vh;
    background-image: url(https://thumbs.dreamstime.com/b/vista-superior-del-campo-de-f%C3%BAtbol-84246649.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.field {
    /*border: 1px solid blue;*/
    top: 10vh;
    left: 35vw;
    width: 30vw;
    height: 90vh;
    background: url(https://4.bp.blogspot.com/-JiJEc7lH1Is/UHJs3kn261I/AAAAAAAADYA/gQRAxHK2q_w/s1600/tileable_old_school_video_game_grass.jpg);
    background-size: 30%;
    position: absolute;
}

.field__box {
    width: 90%;
    height: 90%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    position: relative;
}

.field__line {
    position: absolute;
    width: 100%;
    height: 2px;
}

.field__line--goal--top {
    width: 15%;
    height: 5%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-top: none;
    left: 42.5%;
}

.field__line--goal--bottom {
    bottom: 0;
    width: 15%;
    height: 5%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-bottom: none;
    margin: 0 42.5%;
}

.field__line--penalty--top {
    width: 35%;
    height: 10%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-top: none;
    margin: 0 32.5%;
}

.field__line--penalty--bottom {
    bottom: 0;
    width: 35%;
    height: 10%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-bottom: none;
    margin: 0 32.5%;
}

.field__line--penalty--arc--top {
    top: 0;
    width: 25%;
    height: 12%;
    border-radius: 0 0 60% 60%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    margin: 0 37.5%;
}

.field__line--penalty--arc--bottom {
    bottom: 0;
    width: 25%;
    height: 12%;
    border-radius: 60% 60% 0 0;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    margin: 0 37.5%;
}

.field__line--penalty--arc {
    top: 0;
    width: 25%;
    height: 12%;
    border-radius: 0 0 60% 60%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    margin: 0 37.5%;
}

.field__line--mid {
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

.field__line--circle {
    top: 44%;
    width: 17%;
    height: 12%;
    margin: auto;
    border-radius: 70%;
    border: solid 2px rgba(255, 255, 255, 0.8);
    left: 41.5%;
}

.player {
    position: absolute;
}

.player__item {
    width: 9%;
    height: 7%;
    background: repeating-linear-gradient(90deg, #9c1737, #9c1737 10%, #325082 10%, #325082 20%);
    border-radius: 50%;
    box-shadow: 0 0 30px #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.player__item--shirt {
    bottom: 25%;
    font-size: 1em;
    text-align: center;
    color: #ebe52d;
}

.player__item--label {
    font-size: 0.7em;
    top: 75%;
    position: absolute;
    background-color: #ebe52d;
    color: #9c1737;
    border-radius: 10%;
    padding: 5%;
}

.player__item--card {
    position: absolute;
    top: -380%;
    background-color: #9c1737;
    font-size: 0.7em;
    color: #325082;
    border-radius: 3%;
    box-shadow: 0 0 30px #000000;
    z-index: 2;
    display: none;
    flex-flow: column;
}

    .player__item--card:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-top: 10px solid #325082;
        border-right: 10px solid transparent;
    }

    .player__item--card:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40%;
        background-color: #325082;
        z-index: -1;
    }

.player__item--card--name {
    color: #9c1737;
}

.player__item--card--photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.player__item--card--photo-bg {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;
}

.player__item--card--info {
    display: flex;
}

.player__item--card--info--column {
    display: table;
    padding: 2%;
}

.player__item--card--info--item {
    text-align: center;
}

.player__item--1 {
    bottom: 1%;
    left: 45%;
}

.player__item--2 {
    bottom: 25%;
    right: 5%;
}

.player__item--3 {
    bottom: 15%;
    right: 25%;
}

.player__item--4 {
    bottom: 15%;
    left: 25%;
}

.player__item--5 {
    bottom: 42%;
    right: 30%;
}

.player__item--6 {
    bottom: 25%;
    left: 5%;
}

.player__item--7 {
    bottom: 42%;
    left: 30%;
}

.player__item--8 {
    top: 30%;
    left: 45%;
}

.player__item--9 {
    top: 15%;
    right: 5%;
}

.player__item--10 {
    top: 15%;
    left: 5%;
}

.player__item--11 {
    top: 8%;
    left: 45%;
}

/*Mapa*/

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
/*******/

.separador {
    border: 1px solid var(--naranja);
}

.carousel-caption {
    background-color: var(--grisC);
    height: 20%;
    border-radius: 50px;
    border: solid;
    border-color: var(--naranja) !important;
}


.abs {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.fondoEntrenador {
    background-image: url(../img/fondoEntrenador.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
    /*overflow: hidden;*/
}
/* ----------------- */

.btn-logout {
    color: white;
}

.container {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border: 0;
}

.saveContainer {
    display: flex;
    justify-content: center;
}

    .btn-logout:hover {
        color: white;
    }

.items {
    border: 1px solid black;
    width: 200px;
    background-color: white;
    box-shadow: 5px 5px 0px -4px rgba(0,0,0,0.11);
    -webkit-box-shadow: 5px 5px 0px -4px rgba(0,0,0,0.11);
    -moz-box-shadow: 5px 5px 0px -4px rgba(0,0,0,0.11);
    cursor: grab;
    margin: 3px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

#btnGuardar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-select {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grisC)
}

    .login-select:hover {
        color: var(--naranja)
    }

.nav .li {
    color: var(--naranja) !important;
}

.nav {
    background-color: var(--grisF);
}

.opcion-login {
    color: white !important;
}


.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

    .single_advisor_profile .advisor_thumb {
        position: relative;
        z-index: 1;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #3f43fd;
        overflow: hidden;
    }

        .single_advisor_profile .advisor_thumb::after {
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            position: absolute;
            width: 150%;
            height: 80px;
            bottom: -45px;
            left: -25%;
            content: "";
            background-color: #ffffff;
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }

@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}

.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}

    .single_advisor_profile .advisor_thumb .social-info a {
        font-size: 14px;
        color: var(--grisF);
        padding: 0 5px;
    }

        .single_advisor_profile .advisor_thumb .social-info a:hover,
        .single_advisor_profile .advisor_thumb .social-info a:focus {
            color: var(--naranja);
        }

        .single_advisor_profile .advisor_thumb .social-info a:last-child {
            padding-right: 0;
        }

.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

    .single_advisor_profile .single_advisor_details_info::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 3px;
        background-color: var(--naranja);
        content: "";
        top: 12px;
        right: 30px;
    }

    .single_advisor_profile .single_advisor_details_info h6 {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }
}

.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}

@media only screen and (min-width: 808px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }
}

.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: transparent;
}

.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}

    .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
    .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
    .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
    .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
        color: #ffffff;
    }

.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: white;
}

    .single_advisor_profile:hover .single_advisor_details_info::after,
    .single_advisor_profile:focus .single_advisor_details_info::after {
        background-color: black;
    }

    .single_advisor_profile:hover .single_advisor_details_info h6,
    .single_advisor_profile:focus .single_advisor_details_info h6 {
        color: #ffffff;
    }

    .single_advisor_profile:hover .single_advisor_details_info p,
    .single_advisor_profile:focus .single_advisor_details_info p {
        color: #ffffff;
    }




.input-hidden {
    position: absolute;
    left: -9999px;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label > img {
    width: 160px;
    height: 160px;
    transition: 500ms all;
    border-radius: 100px;
}

input[type=radio]:checked + label > img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}


input[type=radio]:checked + label > img {
    transform:
    <!-- rotateZ(-10deg) rotateX(10deg); -->
}

.tituloBanca {
    text-align: center !important;
}

.lista {
    display: flex;
    justify-content: center;
}