@model TestProyect.Models.Administrativos

@{
    ViewData["Title"] = "AdministrativosCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<body class="fondoAdministracion">
    <hr>
    <div class="card border">
        <div class="card-header">
            <a class="link-bar" asp-action="Login">Administrativo/</a>
            <a class="link-bar" asp-action="Administrativos">Administrativos/</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="card border">
                <div class="card-header">
                    <h3><strong>Añadir Administrativo</strong></h3>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-controller="Administrativo" asp-action="AdministrativosCreate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="MatriculaAdministrativo" class="control-label"></label>
                                        <input asp-for="MatriculaAdministrativo" class="form-control" />
                                        <span asp-validation-for="MatriculaAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="NombreAdministrativo" class="control-label"></label>
                                        <input asp-for="NombreAdministrativo" class="form-control" />
                                        <span asp-validation-for="NombreAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="PaternoAdministrativo" class="control-label"></label>
                                        <input asp-for="PaternoAdministrativo" class="form-control" />
                                        <span asp-validation-for="PaternoAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="MaternoAdministrativo" class="control-label"></label>
                                        <input asp-for="MaternoAdministrativo" class="form-control" />
                                        <span asp-validation-for="MaternoAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="CasaAdministrativo" class="control-label"></label>
                                        <input asp-for="CasaAdministrativo" class="form-control" />
                                        <span asp-validation-for="CasaAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="CelularAdministrativo" class="control-label"></label>
                                        <input asp-for="CelularAdministrativo" class="form-control" />
                                        <span asp-validation-for="CelularAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="EmailAdministrativo" class="control-label"></label>
                                        <input asp-for="EmailAdministrativo" class="form-control" />
                                        <span asp-validation-for="EmailAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="PasswordAdministrativo" class="control-label"></label>
                                        <input asp-for="PasswordAdministrativo" class="form-control" />
                                        <span asp-validation-for="PasswordAdministrativo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="AdscripcionAdminId" class="control-label"></label>
                                        <select asp-for="AdscripcionAdminId" class="form-control" asp-items="ViewBag.AdscripcionId"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="IdEstatus" class="control-label"></label>
                                        <select asp-for="IdEstatus" class="form-control" asp-items="ViewBag.EstatusId"></select>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <button type="submit" class="btn btn-success float-md-right"><i class="fas fa-check-circle"> Guardar</i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}