@model TestProyect.Models.Estatus
@{
    ViewData["Title"] = "Añadir nuevo Estatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">


    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <form method="post" asp-action="CrearEstatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreEstatus" class="control-label"></label>
                <input asp-for="NombreEstatus" class="form-control" />
                <span asp-validation-for="NombreEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Añadir Estatus" asp-for="NombreEstatus" class="btn btn-success" />             
            </div>
        </form>

    </div>
</div>

@section Scripts{

@{ <partial name="_ValidationScriptsPartial"></partial>}
}
