@model TestProyect.Models.Estatus
@{
    ViewData["Title"] = "Añadir nuevo Estatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="fondoAdministracion">
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="card border">
                <div class="card-header">
                    <h4><strong>Nuevo Estatus</strong></h4>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="col-sm-12">
                    <form method="post" asp-action="CrearEstatus">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NombreEstatus" class="control-label"></label>
                            <input asp-for="NombreEstatus" class="form-control" />
                            <span asp-validation-for="NombreEstatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Añadir Estatus" asp-for="NombreEstatus" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{

@{ <partial name="_ValidationScriptsPartial"></partial>}
}
