@{
    ViewData["Title"] = "Administración";
}

<head>
    <meta charset="utf-8">
</head>
<body class="fondoAdministracion">
    <div class="row carusel">

        <div class="col-md-3">
            <div class="card" style="">
                <img class="card-img-top" src="~/img/directivo.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Entrenadores</h4>
                    <p class="card-text">Espacio dedicado para la Gestión del personal Administrativo de la Institución</p>
                    <br>
                    <a asp-controller="Administrativo" asp-action="Administrativos" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="">
                <img class="card-img-top" src="~/img/entrenador.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Entrenadores</h4>
                    <p class="card-text">
                        Espacio dedicado para la administración del Cuerpo Técnico de la Institución
                    </p>
                    <br>
                    <a asp-controller="Administrativo" asp-action="Entrenadores" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="">
                <img class="card-img-top" src="~/img/jugador.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Jugadores</h4>
                    <p class="card-text">
                        Espacio dedicado para la administración de los nuevos jugadores inscritos en la institución
                    </p>
                    <a asp-controller="Administrativo" asp-action="Jugadores" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="">
                <img class="card-img-top" src="~/img/utileros.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Utileros</h4>
                    <p class="card-text">Espacio dedicado para la gestion del personal encargado de la utileria</p>
                    <br>
                    <a asp-controller="Administrativo" asp-action="Utileros" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row carusel">
        <div class="col-md-3">
            <div class="card" style="">
                <div class="card-body">
                    <h4 class="card-title">Catálogos</h4>
                    <p class="card-text">Espacio dedicado para los catálogos de opciones</p>
                    <br>
                    <a asp-controller="Catalogos" asp-action="Index" class="btn btn-orange">Ingresar</a>
                </div>
            </div>
        </div>
    </div>

</body>