@model TestProyect.Models.Usuarios

@{
    ViewData["Title"] = "NuevoAdministrativo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fondoAdministracion">
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="card border">
                <div class="card-header">
                    <h4><strong>Nuevo Administrativo</strong></h4>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="NuevoAdministrativo">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NombreUsuario" class="control-label"></label>
                                <input asp-for="NombreUsuario" class="form-control" />
                                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PaternoUsuario" class="control-label"></label>
                                <input asp-for="PaternoUsuario" class="form-control" />
                                <span asp-validation-for="PaternoUsuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MaternoUsuario" class="control-label"></label>
                                <input asp-for="MaternoUsuario" class="form-control" />
                                <span asp-validation-for="MaternoUsuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CelularUsuario" class="control-label"></label>
                                <input asp-for="CelularUsuario" class="form-control" />
                                <span asp-validation-for="CelularUsuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmailUsuario" class="control-label"></label>
                                <input asp-for="EmailUsuario" class="form-control" />
                                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="hidden" asp-for="PasswordUsuario" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="1" asp-for="IdTipoUsuario" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="1" asp-for="IdEstatus" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Añadir Administrativo" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{

    @{ <partial name="_ValidationScriptsPartial"></partial>}
}

